.contenedor {
    display: flex;
    justify-content: center;
}

.grid3 {
    display: grid;
    align-items: center;
    justify-content: center; /* Centra horizontalmente las columnas */
    gap: 12px;
   
}

@media (min-width: 768px) {
    .grid3 {
        grid-template-columns: 33% 33% 33%;
    }
}
