p,h2,h3,h4,h5,a{
    font-family: monospace;
}




@media (max-width: 992px) {
    #carouselExampleDark {
        width: 0;
    }
}

@media (min-width: 992px) {
    #carouselExampleIndicators {
        width: 0;
    }
}


.carousel-item h4 {
    margin-top: -80px; 
}

.contenedor {
    margin-left: 0.9375rem; /* Convertido de 15px a rem */
    margin-right: 0.9375rem; /* Convertido de 15px a rem */
}


@media (max-width: 768px) {
    
    .carousel-item a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center; /* Cambiado de align-content a align-items */
        height: 100%; /* Ajustado la altura al 100% */
        margin-top: -80px;
    }
    .boton-carrousel {
        display: flex;
        justify-content: center;
        align-items: center; /* Alinea verticalmente el contenido */
        height: 100%; /* Ocupa toda la altura del contenedor */
        width: 100%; /* Ocupa todo el ancho del contenedor */
    }
    .boton-carrousel {
        display: none; /* Oculta el botón en resoluciones menores a 992px */
    }
}

textarea{
    resize: none;
    field-sizing: content;
    max-height: 100%;
}